xxd
xxd-TESTING
TODO
rockyou.txt
testdir/
line_buffer_out_testcases.txt
output-nobufcheck
output-regular
opening_files_cases.txt
nopermission.txt
nopermission/
ar.img
ar-short.img
ar-short2.img
ar-short3.img
ar-short4.img
o_xxd
o_xxd_only_off
t_xxd
t_xxd_only_off
setup-autoskip-testfiles
*.ByteData